<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Instadev</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
    </header>

    <main class="container">

        <section class="container_perfil">
            <img src="img/Foto_Perfil_Grande.png" alt="Foto de Perfil">

            <div class="informacoes_perfil">

                <h1 class="username_perfil">yes_baby</h1>

                <div class="informacoes_usuario">
                    <span> 0 publicações</span>
                    <span>128 seguindo</span>
                    <span>214 seguidores</span>
                </div>

                <div class="informacoes_usuario_embaixo">
                    <span class="nome_de_usuario">Marcos Jeeves</span>
                    <a href="">Editar Perfil</a>
                    <a href="">Sair</a>
                </div>
            </div>

        </section>

        <hr>

        <section class="container_feed">

            <div class="titulo_publicacoes">
                <img src="img/Quadrado_Publicacoes.png" alt="Objeto de publicações">
                <h2>Publicações</h2>
            </div>

            <div class="post_perfil">
                <div>
                    <img src="img/Foto_Post.png" alt="Foto postada">
                </div>

                <div class="conteudo_post">

                    <div class="descricao_usuario_post">
                        <img src="img/Foto_Perfil_Pequeno.png" alt="Imagem perfil">

                        <div class="texto_descricao_usuario_post">
                            <span class="username_post">Marcos Jeeves</span>
                            <span class="local_post">Rio de Janeiro, Brazil</span>
                        </div>
                    </div>

                    <div class="curtidas_comentarios">
                        <div>
                            <img src="img/Curtidas.png" alt="Curtidas">
                            <img class="img_comentarios" src="img/Comentarios.png" alt="Comentarios">
                        </div>

                        <span>1954 curtidas</span>
                    </div>

                    <div class="caixa_comentarios">
                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">fausto_silva</span>
                                </div>
                                <div>
                                    <span class="comentarios">Esse cara é fera bixo!!!!</span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">yes_baby</span>
                                </div>
                                <div>
                                    <span class="comentarios">thank you</span>  
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">adriano_stark</span>
                                </div>
                                <div>
                                    <span class="comentarios">Quando eu adormecer, vou sonhar com você. É sempre você. </span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">yes_baby</span>
                                </div>
                                <div>
                                    <span class="comentarios">Yes baby!!</span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <button class="ver_comentarios">Ver todos os 585 comentários</button>
                    </div>
                </div>
            </div>

            <div class="post_perfil">
                <div>
                    <img src="img/Foto_Post.png" alt="Foto postada">
                </div>

                <div class="conteudo_post">

                    <div class="descricao_usuario_post">
                        <img src="img/Foto_Perfil_Pequeno.png" alt="Imagem perfil">

                        <div class="texto_descricao_usuario_post">
                            <span class="username_post">Marcos Jeeves</span>
                            <span class="local_post">Rio de Janeiro, Brazil</span>
                        </div>
                    </div>

                    <div class="curtidas_comentarios">
                        <div>
                            <img src="img/Curtidas.png" alt="Curtidas">
                            <img class="img_comentarios" src="img/Comentarios.png" alt="Comentarios">
                        </div>

                        <span>1954 curtidas</span>
                    </div>

                    <div class="caixa_comentarios">
                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">fausto_silva</span>
                                </div>
                                <div>
                                    <span class="comentarios">Esse cara é fera bixo!!!!</span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">yes_baby</span>
                                </div>
                                <div>
                                    <span class="comentarios">thank you</span>  
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">adriano_stark</span>
                                </div>
                                <div>
                                    <span class="comentarios">Quando eu adormecer, vou sonhar com você. É sempre você. </span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <div class="conteudo_comentarios">
                            <div class="textos_comentarios">
                                <div>
                                    <span class="nome_comentarios">yes_baby</span>
                                </div>
                                <div>
                                    <span class="comentarios">Yes baby!!</span>
                                </div>
                            </div>
                            <img src="img/Curtidas_Comentários.png" alt="Curtidas Comentarios">
                        </div>

                        <button class="ver_comentarios">Ver todos os 585 comentários</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
    </footer>
</body>

</html>