@model Usuario

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    

    @if (ViewData["Title"].ToString() == "CadastroLogin")
    {
        <link rel="stylesheet" href="~/css/estilo_CadastroLogin.css">
    }

    @if (ViewData["Title"].ToString() == "Feed")
    {
        <link rel="stylesheet" href="~/css/estilo_Feed.css">
    }

    @if (ViewData["Title"].ToString() == "EdicaoDePerfil")
    {
        <link rel="stylesheet" href="~/css/estilo_EdicaoDePerfil.css">
    }




    <script src="https://use.fontawesome.com/4fbb5acd57.js"></script>
</head>

<body>
    @if (ViewData["Title"].ToString() != "CadastroLogin")
    {
        <header>
            <div class="conteiner">
                <div class="conteiner_header">
                    <a href=""> <img src="~/img/img_EdicaoPerfil/Instadev.png" alt=""></a>
                    <div class="buscar">
                        <input type="text" placeholder="Buscar">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <ul class="icon_inte">
                        <a href=""><i class="fa fa-home" aria-hidden="true" style="font-size: 26px; color: black;"></i></a>
                        <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"
                            style="font-size: 26px; color: black;"></i></a>
                        <a href=""><i class="fa fa-compass" aria-hidden="true"
                            style="font-size: 26px; color: black;"></i></a>
                        <a href=""><i class="fa fa-heart-o" aria-hidden="true" style="font-size: 26px; color: red;"></i></a>

                        @* @if (ViewBag.ImagemUsuario == null) *@
                        @* { *@
                            @* <a href=""><img src="~/img/Usuarios/padrao.png" width="30px;" alt=""></a> *@
                            <a asp-area="" asp-controller="EdicaoDePerfil" asp-action="Index">
                                @* <img src="~/img/Usuarios/padrao.png" width="30px;" alt=""> *@
                                <img src="@ViewBag.Userimage" width="30px" alt="">
                                
                            </a>
                        @* } *@

                    </ul>
                    <div class="log">

                        @if (ViewBag.Username != null)
                        {
                            <p>Olá, @ViewBag.Username!</p>
                            <p><a asp-area="" asp-controller="Home" asp-action="Logout">LOGOUT</a></p>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Login">LOGIN</a></li>
                        }
                    </div>
                </div>
            </div>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
