<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/4fbb5acd57.js"></script>
    <link rel="stylesheet" href="css/estilo_EdicaoDePerfil.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="conteiner">
            <div class="conteiner_header">
                <a href=""> <img src="../../imagens/Instadev.png" alt=""></a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <ul class="icon_inte">
                    <a href=""><i class="fa fa-home" aria-hidden="true" style="font-size: 26px; color: black;"></i></a>
                    <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true"
                            style="font-size: 26px; color: black;"></i></a>
                    <a href=""><i class="fa fa-compass" aria-hidden="true"
                            style="font-size: 26px; color: black;"></i></a>
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true" style="font-size: 26px; color: red;"></i></a>
                    <a href=""><img src="../../imagens/thank-you 1.png" alt=""></a>
                </ul>
            </div>
        </div>
        <!-- <div class="navegar ">
            <div class="toggle"></div>
            <ul> -->
        <!-- <li>
                    <a href="">
                        <span class="icon"><a href=""><img src="../../imagens/thank-you 1.png" alt=""></a></span>
                    </a>
                </li> -->
        <!-- <li>
                    <a href="">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true" style="font-size: 26px;"></i></span>
                        <span class="T">Home</span>
                    </a>
                </li>
                <li> -->
        <!-- <a href="">
                        <span class="icon"><i class="fa fa-paper-plane-o" aria-hidden="true" style="font-size: 26px;"></i></span>
                        <span class="T">Mensagens</span>
                    </a>
                </li>
                <li> -->
        <!-- <a href="">
                        <span class="icon"><i class="fa fa-compass" aria-hidden="true" style="font-size: 26px;"></i></span>
                        <span class="T">Buscar</span>
                    </a>
                </li> -->
        <!-- <li>
                    <a href="">
                        <span class="icon"><i class="fa fa-heart-o" aria-hidden="true" style="font-size: 26px;"></i></span>
                        <span class="T">Seguidores</span>
                    </a>
                </li>
                <li> -->
        <!-- <a href="">
                        <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                        <span class="T">Sair</span>
                    </a>
                </li>
            </ul>
        </div>
        -->
        <!-- <script>
            const navegar = document.querySelector('.navegar');
            document.querySelector('.toggle').ondblclick = function () {
                this.classList.toggle('active');
                navegar.classList.toggle('active')
            }
        </script> -->

        <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
        <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $(".navegar").draggable();
            });
        </script> -->
    </header>
    <section class="editar_perfil">
        <div class="conteiner">
            <div class="conteiner_perfil">
                <div class="perfil">
                    <div class="ed_P">
                        <span>
                            Editar Perfil
                        </span>
                    </div>
                    <div class="perfil_U">
                        <div class="foto_perfil">
                            <img src="../../imagens/thank-you 1.png" alt="">
                            <div class="U">
                                <span>yes_baby</span>
                                <a href="#">Alterar foto de perfil</a>
                            </div>
                        </div>
                        <div class="inputs">
                            <div class="input_nome">

                                <div class="N">
                                    <div class="title">
                                        <span class="S">Nome</span>
                                    </div>

                                    <div class="right">
                                        <input type="text">
                                        <div class="span">
                                            <span>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é
                                                conhecido: seu nome completo, apelido ou nome comercial.</span>
                                            <br><br>
                                            <span>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="input_NU">

                                <div class="NU">
                                    <div class="title">
                                        <span class="S">Nome de usuário</span>
                                    </div>

                                    <div class="NU_right">
                                        <input type="text">
                                        <div class="textoSpam">
                                            <span>Na maioria dos casos, você poderá alterar seu nome de usuário
                                                novamente
                                                para
                                                nascimento_tr por mais 14 dias.
                                            </span>
                                            <span>
                                                <br><br>
                                                <span style="font-weight: 900;" >Informações pessoais:</span> <br>
                                                Forneça suas informações pessoais, mesmo se a conta for usada para uma
                                                empresa,
                                                um animal de estimação ou outra coisa. Elas não farão parte do seu
                                                perfil
                                                público.
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="input_email">
                                <div class="E">
                                    <div class="title">
                                        <span class="S">Email</span>
                                    </div>

                                    <input type="text">

                                </div>
                            </div>
                            <div class="bt">
                                <input type="submit" value="Enviar">
                                <a href="#">Desativar minha conta definitivamente</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>

</html>