@{
    ViewData["Title"] = "EdicaoDePerfil";
}


<section class="editar_perfil">
    <div class="conteiner">
        <div class="conteiner_perfil">
            <div class="perfil">
                <div class="ed_P">
                    <span>
                        Editar Perfil
                    </span>
                </div>
                <div class="perfil_U">
                    <div class="foto_perfil">
                        <img src="~/img/img_EdicaoPerfil/thank-you 1.png" alt="">
                        <div class="U">
                            <span>yes_baby</span>
                            @* <a href="#">Alterar foto de perfil</a> *@

                            <form method="POST" action='@Url.Action("TrocarImagem")' enctype="multipart/form-data">

                                <label>Alterar foto</label>
                                <input type="file" name="ImagemUsuario">

                                <button type="submit">Enviar</button>

                            </form>
                        </div>
                    </div>
                    <div class="inputs">
                        <div class="input_nome">

                            <div class="N">
                                <div class="title">
                                    <span class="S">Nome</span>
                                </div>

                                <div class="right">
                                    <input type="text">
                                    <div class="span">
                                        <span>Ajude as pessoas a descobrir sua conta usando o nome pelo qual você é
                                            conhecido: seu nome completo, apelido ou nome comercial.</span>
                                        <br><br>
                                        <span>Você pode alterar o seu nome apenas duas vezes a cada 14 dias.</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="input_NU">

                            <div class="NU">
                                <div class="title">
                                    <span class="S">Nome de usuário</span>
                                </div>

                                <div class="NU_right">
                                    <input type="text">
                                    <div class="textoSpam">
                                        <span>Na maioria dos casos, você poderá alterar seu nome de usuário
                                            novamente
                                            para
                                            nascimento_tr por mais 14 dias.
                                        </span>
                                        <span>
                                            <br><br>
                                            <span style="font-weight: 900;">Informações pessoais:</span> <br>
                                            Forneça suas informações pessoais, mesmo se a conta for usada para uma
                                            empresa,
                                            um animal de estimação ou outra coisa. Elas não farão parte do seu
                                            perfil
                                            público.
                                        </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="input_email">
                            <div class="E">
                                <div class="title">
                                    <span class="S">Email</span>
                                </div>

                                <input type="text">

                            </div>
                        </div>
                        <div class="bt">
                            <input type="submit" value="Enviar">
                            <a href="#">Desativar minha conta definitivamente</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>