@{
    ViewData["Title"] = "Home Page";
}



<div class="conteiner">
    <div class="bg">
        <div class="box logar">
            <h2>Já tem uma conta ?</h2>
            <button class="logarBut">Logar</button>
        </div>
        <div class="box cadastrar">
            <h2>Não tem uma conta ?</h2>
            <button class="cadasBut">Cadastrar-se</button>
        </div>
    </div>
    <div class="formbx">
        <div class="form login">
            <form>
                <img src="~/img/img_EdicaoPerfil/Instadev.png" alt="">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Senha">
                <input type="submit" value="Entrar">
                <a href="#" class="esqc">Esqueseu a senha ?</a>
            </form>
        </div>

        <div class="form cadas">
            <form>
                <img src="~/img/img_EdicaoPerfil/Instadev.png" alt="">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Nome Completo">
                <input type="text" placeholder="Nome de usuario">
                <input type="password" placeholder="Senha">
                <input type="submit" value="Cadastrar-se">

            </form>
        </div>
    </div>
</div>
