@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;

    background: #FAFAFA;
}

.conteiner{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.bg{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    background:rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg .box{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg .box h2{
    color: rgb(14, 13, 13);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.bg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: rgb(232 225 225);
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
    font-family: 'Poppins', sans-serif;

}
.formbx{
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 130%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formbx.active{
    left: 0%;
}
.formbx .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}
.formbx .login{
    transition-delay: 0.25s;
}
.formbx.active .login{
    left: 0%;
    transition-delay: 0s;
}
.formbx .cadas{
    left: 0%;
}
.formbx.active .cadas{
    left: 0;
}
.formbx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formbx .form form img{
    width: 32%;
    margin-bottom: 20px;
}
.formbx .form form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}
.formbx .form form input[type="submit"]{
    background: #2686CC;
    border: none;
    color: #fff;
    max-width: 100%;
    cursor: pointer;
}
.esqc{
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    width: 80%;
    text-align: center;
}

.esqc_{
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.esqc__{
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.erro{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    
}

.box_cadastrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}