<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Feed.css">
    <script src="https://use.fontawesome.com/4fbb5acd57.js"></script>
    <title>Document</title>
</head>

<body>
    <header>
        <div class="conteiner">
            <div class="conteiner_header">
                <a href=""> <img src="img/Instadev.png" alt=""></a>
                <div class="buscar">
                    <input type="text" placeholder="Buscar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <ul class="icon_inte">
                    <a href=""><i class="fa fa-home" aria-hidden="true" style="font-size: 26px; color: #000;"></i></a>
                    <a href=""><i class="fa fa-paper-plane-o" aria-hidden="true" style="font-size: 26px; color: #000;"></i></a>
                    <a href=""><i class="fa fa-compass" aria-hidden="true" style="font-size: 26px; color: #000;"></i></a>
                    <a href=""><i class="fa fa-heart-o" aria-hidden="true" style="font-size: 26px; color: #000;"></i></a>
                    <a href=""><img src="img/thank-you 1.png" alt=""></a>
                </ul>
            </div>
        </div>
    </header>
</body>
<section class="seguindo">
    <div class="conteiner">
        <div class=" conteiner_seguindo">
            <div class="box_S">
                <a href="#">
                    <img src="img/vin-diesel 1.svg" alt="">
                    <span>vin_diesel</span>
                </a>
                <a href="#">
                    <img src="img/gabigordo 1.svg" alt="">
                    <span>gabigordo</span>
                </a>
                <a href="#">
                    <img src="img/will-baiano 1.svg" alt="">
                    <span>will_baiano</span>
                </a>
                <a href="#">
                    <img src="img/tony_stark 1.svg" alt="">
                    <span>adriano_stark</span>
                </a>
                <a href="#">
                    <img src="img/pele 1.svg" alt="">
                    <span>king_pele</span>
                </a>
                <a href="#">
                    <img src="img/samuel-rosa-bebê 1.svg" alt="">
                    <span>samuel_rosa</span>
                </a>
                <a href="#">
                    <img src="img/chaves_metal 1.svg" alt="">
                    <span>chaves_metal</span>
                </a>
            </div>
            <img src="img/thank-you 2.svg" alt="">
            <div class="user_name">
                <span>yes_baby</span>
                <h1>Marcos Jeeves</h1>
            </div>
        </div>
        <section class="postar">
            <div class="hearder_P">
                <img src="img/thank-you 3.svg" alt="">
                <span>Postar</span>
            </div>
            <div class="btn_postar">
                <input type="text" placeholder="Digite a descrição da imagem...">
                <input type="file" value="Escolha a imagem" id="file">
                <label for="file">Escolha a imagem</label>
                <input type="submit" value="Postar">
            </div>
        </section>
        <section class="postado">
            <img src="img/gabigordo 2.svg" alt="">
            <div class="user_name_Postado">
                <span>gabigordo</span>
                <h2>Flamengo, RJ</h2>
            </div>
        </section>
        <div class="img_postado">
            <img src="img/post-gabigordo 1.svg" alt="">
        </div>
        <div class="icon_but_postado">
            <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 28px;"></i>
            <i class="fa fa-comment-o" aria-hidden="true" style="font-size: 28px;"></i>
            <input type="text" placeholder="Comentar">
        </div>
        <div class="Curt">
            <span class="curtidas">2077 curtidas</span>
        </div>
        <div class="comentarios">
            <span><span class="UserName_comentarios">gabigordo</span> <a href="">#flamengo</a> Amo vocês mil milhões
            </span>
            <span><span class="UserName_comentarios">yes_baby</span> thank you</span>
            <span><span class="UserName_comentarios">king_pele</span> king_pele Esses são bons de bola, entende?</span>
        </div>
        <!-- outra postagem -->
        <section class="postado">
            <img src="img/gabigordo 2.svg" alt="">
            <div class="user_name_Postado">
                <span>gabigordo</span>
                <h2>Flamengo, RJ</h2>
            </div>
        </section>
        <div class="img_postado">
            <img src="img/post-gabigordo 1.svg" alt="">
        </div>
        <div class="icon_but_postado">
            <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 28px;"></i>
            <i class="fa fa-comment-o" aria-hidden="true" style="font-size: 28px;"></i>
            <input type="text" placeholder="Comentar">
        </div>
        <div class="Curt">
            <span class="curtidas">2077 curtidas</span>
        </div>
        <div class="comentarios">
            <span><span class="UserName_comentarios">gabigordo</span> <a href="">#flamengo</a> Amo vocês mil milhões
            </span>
            <span><span class="UserName_comentarios">yes_baby</span> thank you</span>
            <span><span class="UserName_comentarios">king_pele</span> king_pele Esses são bons de bola, entende?</span>
        </div>
        <section class="postado">
            <img src="img/gabigordo 2.svg" alt="">
            <div class="user_name_Postado">
                <span>gabigordo</span>
                <h2>Flamengo, RJ</h2>
            </div>
        </section>
        <div class="img_postado">
            <img src="img/post-gabigordo 1.svg" alt="">
        </div>
        <div class="icon_but_postado">
            <i class="fa fa-heart-o" aria-hidden="true" style="font-size: 28px;"></i>
            <i class="fa fa-comment-o" aria-hidden="true" style="font-size: 28px;"></i>
            <input type="text" placeholder="Comentar">
        </div>
        <div class="Curt">
            <span class="curtidas">2077 curtidas</span>
        </div>
        <div class="comentarios">
            <span><span class="UserName_comentarios">gabigordo</span> <a href="">#flamengo</a> Amo vocês mil milhões
            </span>
            <span><span class="UserName_comentarios">yes_baby</span> thank you</span>
            <span><span class="UserName_comentarios">king_pele</span> king_pele Esses são bons de bola, entende?</span>
        </div>
    </div>
</section>

</html>